/* Light color variables */
$primary-light-platinum: #e6e6e6;
$secondary-light-marine: #297373;
$primary-light-jet: #39393a;
$secondary-light-red: #ff2c2c;
/* Dark color variables */
$primary-dark-jet: #39393a;
$secondary-dark-brown: #3e000c;
$primary-dark-platinum: #e6e6e6;
$secondary-dark-red: #ff5352;
// Fonts
$title-font: "Berkshire Swash", cursive;

@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");
@import "~slick-carousel/slick/slick-theme.css";
@import "~slick-carousel/slick/slick.css";

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

:root {
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: $primary-light-jet;
}

body {
  background-color: $primary-light-platinum;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// header {
//   // background-color: $secondary-light-marine;
//   background: rgb(25,82,82);
// background: linear-gradient(144deg, rgba(25,82,82,1) 32%, rgba(41,115,115,1) 62%, rgba(0,103,124,1) 100%);
//   height: 100px;
//   width: 100vw;
//   padding: 0px 5%;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
// }

// .website-title {
//   color: $primary-light-platinum;
//   font-family: $title-font;
//   font-size: 30px;
//   line-height: 1;
//   margin: 10px 10px 10px 100px;
// }

// nav {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   gap: 15px;
//   padding-left: 50px;
//   padding-right: 5%;
// }

// .navbar__links {
//   // width: 300px;
//   display: flex;
//   flex-direction: row;
//   gap: 20px;
//   margin-right: 30px;
//   font-size: 18px;
// }

main {
  background-color: $primary-light-platinum;
  // height: 100vh;
  width: 100vw;
  // margin: 5px 50px;
  padding: 20px 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

%btn {
  color: $primary-light-platinum;
  font-weight: 500;
  font-size: 16px;
  padding: 7px 12px;
  border-radius: 5px;
  white-space: nowrap;
  // border: solid 2px;
}
%btn:hover {
  // transform: scale(1.05);
}

.red-btn {
  @extend %btn;
  background: rgb(253, 86, 45);
  background: linear-gradient(
    0deg,
    rgba(253, 86, 45, 1) 0%,
    rgba(255, 44, 44, 1) 20%
  );
  // background-color: $secondary-light-red;
  // border-color: $secondary-light-red;
}
.red-btn:hover {
  background: rgb(255, 44, 44);
  background: linear-gradient(
    0deg,
    rgba(255, 44, 44, 1) 70%,
    rgba(253, 86, 45, 1) 100%
  );
}

.outline-btn {
  @extend %btn;
  background: rgb(230, 230, 230);
  background: linear-gradient(
    180deg,
    rgba(230, 230, 230, 1) 0%,
    rgba(217, 227, 221, 1) 100%
  );
  // background-color: $primary-light-platinum;
  // border-color: $primary-light-platinum;
  color: $secondary-light-marine;
}
.outline-btn:hover {
  background: rgb(230, 230, 230);
  background: linear-gradient(
    180deg,
    rgba(230, 230, 230, 1) 0%,
    rgba(195, 209, 201, 1) 100%
  );
}

.login-icon,
.menu-icon {
  display: none;
}

.menu-icon--logged {
  display: block;
  color: $primary-light-platinum;
  font-size: 30px;
}
.menu-icon--logged:hover {
  transform: rotate(360deg);
  transition: 1000ms;
}

.aside-menu {
  position: absolute;
  right: 0px;
  top: 100px;
  color: $primary-light-platinum;
  font-weight: 600;
  font-size: 18px;
  background-color: $primary-light-jet;
  width: 250px;
  height: 100vh;
  padding: 15px;
  ul {
    list-style: none;
  }
}

// Login styles

.login,
.signup {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.login-form,
.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 150px;
  padding: 20px;
  border-radius: 5px;

  background-color: white;
}

// Account

.account {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 0px 30px;
}
.account--details-card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.user-detail {
  display: flex;
  max-width: 400px;
  flex-direction: column;
  span {
    font-weight: 500;
    color: var($primary-light-jet);
  }
  ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style-type: none;
    // li {
    //   display: inline;
    //   gap: 10px;
    // }
  }
}

.user-detail__skeleton {
  display: flex;
  gap: 20px;
  max-width: 400px;
  flex-direction: column;
}

// .account--avatar {
//   width: 80px !important;
//   height: 80px !important;
// }

#login {
  display: none;
}

#loggedin {
  display: none;
}

.spotify-tiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px 0;
}
.show-tile {
  width: 150px;
  height: 200px;
  img {
    width: 150px;
  }
  h4 {
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

@media only screen and (max-width: 753px) {
  // .website-title {
  //     font-size: 20px;
  //     margin: 10px;
  //     justify-self: center;
  //   }
  //   header {
  //     height: 60px;
  //     padding: 0px 30px;
  //   }
  //   nav {
  //     gap: 10px;
  //     padding: 10px;
  //   }
  //   .navbar__links {
  //     gap: 10px;
  //     width: auto;
  //     font-size: 14px;
  //     margin: 0px;
  //   }
  %btn {
    font-size: 14px;
    padding: 2px 5px;
    width: fit-content;
    // border: solid 2px;
  }
  // .red-btn {
  //   border-color: $secondary-light-red;
  // }
  .outline-btn,
  .red-btn,
  .navbar__links {
    display: none;
  }
  .login-icon,
  .menu-icon {
    display: block;
    color: $primary-light-platinum;
    font-size: 20px;
  }

  .menu-icon:hover {
    // animation: mymove 3s infinite;
    transform: rotate(360deg);
    transition: 1000ms;
  }

  @keyframes mymove {
    50% {
      transform: rotate(360deg);
    }
  }
}
//NAVBAR

:root {
  --transition-speed: 600ms;
}

.navbar,
.navbar__logged-out {
  position: fixed;
  background: linear-gradient(
    144deg,
    rgba(25, 82, 82, 1) 32%,
    rgba(41, 115, 115, 1) 62%,
    rgba(0, 103, 124, 1) 100%
  );
  transition: width 600ms ease;
  // overflow: scroll;
  color: $primary-light-platinum;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link,
.nav-link__logged-out {
  display: flex;
  align-items: center;
  height: 5rem;
  color: $primary-light-platinum;
  text-decoration: none;
  // filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
  white-space: nowrap;
}

.nav--avatar-wrapper {
  margin: 0 25px;
  width: 30px;
  display: flex;
  justify-content: center;
}
.nav-link svg {
  width: 40px;
  min-width: 40px;
  margin: 0 1.5rem;
}
.nav-link .nav-icon,
.nav-link__logged-out .nav-icon {
  width: 40px;
  min-width: 40px;
  margin: 0 1.5rem;
}

.fa-primary {
  color: $secondary-light-marine;
}

.fa-secondary {
  color: $secondary-light-marine;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  color: $primary-light-platinum;
  background: var(--bg-secondary);
  font-size: 2rem;
  // letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text {
  font-family: Marcellus, serif;
  text-transform: unset;
  display: inline;
  position: absolute;
  left: 100px;
  // left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

//Dashboard
.dashboard {
  width: 100%;
}
.yt__your-videos {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 10px;
  border: 1px solid #b6b6b6;
  box-shadow: inset 0px 0px 19px -5px rgba(66, 68, 90, 1);
  border-radius: 2px;
  overflow: hidden;
}
.yt__video-thumbnail {
max-height: 156px;
  img {
    width: 277px;
    height: 156px;
  }
  p {
      position: relative;
      top: -35px;
      background-color: rgb(0,0,0,0.8);
      width: 277px;
      height: 30px;
      color: white;
      padding: 5px;
      overflow: hidden;
      transition-duration: 100ms;
  }
  p:hover {
    top: -55px;
    height: 50px;
    transition-duration: 100ms;
    overflow: hidden;
  }
}
.yt__video-thumbnail__delete {
  padding: 2px;
  background-color: white;
  border: 1px solid #b6b6b6;
  border-radius: 2px;
  width: 20px;
  height: 20px;
  position: relative;
  top: -186px;
  left: 252px;
  &:hover {
    background-color: #e4e4e4;
    cursor: pointer;
  }
}

.spotify__thumbnail__add {
  padding: 2px;
  background-color: white;
  border: 1px solid #b6b6b6;
  border-radius: 2px;
  width: 20px;
  height: 20px;
  position: relative;
  top: 30px;
  left: 126px;
  &:hover {
    background-color: #e4e4e4;
    cursor: pointer;
  }
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar,
  .navbar__logged-out {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    right: 0;
    width: 6rem;
    height: 100vh;
    padding: 0 1.5rem 0 0;
  }
  .navbar__logged-out {
    top: 0;
    right: 0;
    width: 16rem;
    height: 100vh;
    padding: 0 1.5rem 0 0;
  }
  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text,
  .nav-link__logged-out .link-text {
    display: inline;
  }

  .navbar:hover .logo svg {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text,
  .navbar__logged-out .logo-text {
    left: 0px;
  }
}

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}
